<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <title>Country State City Dependent Dropdown in Node js</title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center text-primary mt-3 mb-3">Dynamic Dropdown Select Box in Node.js</h1>

            <div class="card">
                <div class="card-header">Dynamic Dropdown</div>
                <div class="card-body">
                    <div class="mb-3">
                        <select name="especialidade" id="especialidade" class="form-control">
                          <option value="">Selecione a especialidade</option>

                          <% for(var count = 0; count < especialidade_data.length; count++){%>
                            <option value="<% especialidade_data[count].especialidade %>"><%= especialidade_data[count].especialidade%></option>
                          <% } %>

                        </select>
                    </div>
                    <div class="mb-3">

                    </div>
                    <div class="mb-3">

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
